h1 {
    text-align:left;
    font-size:20px;
    margin-top:100px;

}

h2 {
    text-align:left;
    font-size:20px;
     margin-top:0px;
}


.form {
    overflow: auto;
    float: left;
    width: 50%;
}

.TAform {
    overflow: auto;
    float: center;
    width: 50%;
}

.form-group {
    margin-top:20px;
}

.form-ta {
    margin-top:20px;
}

.flashes {
    text-align:center;
}


body {
    background-attachment: fixed;
    background-image: url("sea.png");
    background-size: cover;
}