<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.6.3.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% block head %}{% endblock %}
</head>


<body>
    <div class="menu">
        <div class="title">MENU</div>
        <ul class="nav">
            <li><a href="http://127.0.0.1:5000/">Home Page</a></li>
            <li><a href="http://127.0.0.1:5000/register">Register New Students</a></li>
            <li><a href="#">Monitor Grades</a></li>
            <li><a href="#">Assign Work</a></li>
            <li><a href="http://127.0.0.1:5000/test">Admin Page</a></li>
        </ul>
    </div>

    {% block body %}{% endblock %}
</body>

</html>